body {
	color: #cacaca!important;
	background-color: #0c5f8e!important;
	font-family: 'Hind', sans-serif!important;
	background: -webkit-radial-gradient(circle, #0977b6, #0d547e); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, #0977b6, #0d547e); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #0977b6, #0d547e); /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle, #0977b6, #0d547e); /* Standard syntax */
  background-attachment: fixed;
}

h1, h2, h3 {
	font-family: 'Exo 2', sans-serif!important;
	font-weight: 500;
}

h1 {
	font-size: 30px;
	color: #ec8016;
	margin: 10px 0 15px 0;
}

/*navbar*/
.navbar {
	font-family: 'Exo 2', sans-serif!important;
	font-size: 18px;
}

/*
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}*/

.navbar-inverse .navbar-nav>li>a:hover {
	color: #EC8016;
}

.navbar-inverse .navbar-nav>.active>a {
	/*background-color: #102735!important;*/
	background-color: #101F2B!important;
}	

.navbar-inverse {
	background-color: #102A3B;
	/*background-color: #101F2B;*/
	border: 0px none;
	border-bottom: 1px solid rgba(11, 83, 125, 0.43);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-top: 1px solid rgba(11, 83, 125, 0.43);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #101F2B;
}

.navbar-inverse .navbar-toggle {
	border: 1px solid rgba(16, 31, 43, 0.78);
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #cacaca;
}

.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.cursor-pointer {
	cursor: pointer;
}

/*header*/
.jumbotron {
	min-height: 510px;
	background-image: url('/assets/images/background-jumbotron_nomargins.png');
	background-size: 100%;
	background-color: transparent!important;
	background-repeat: no-repeat;
	padding: 9% 10px 0 10px!important;
	margin-top:	85px;
	margin-bottom: 125px;
}

.jumbotron h1, .jumbotron h2 {
	margin: 0px;

}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
	color: #cacaca!important;
	text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
}

.jumbotron h3 {
	color: #cacaca!important;
	font-size: 20px!important;
	font-weight: 500;
	text-align: right;
	width: 100%;
}

.jumbotron h2 {
	color: #ec8016!important;
	font-size: 40px!important;
	font-weight: 500;
	text-align: right;
	width: 100%;
}

.jumbotron h1 {
	color: #cacaca!important;
	font-size: 50px!important;
	font-weight: 400;
	font-size: 95px;
}

.jumbotron p {
	font-size: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.jumbotron h1 {
		font-size: 95px!important;
	}
	.jumbotron h2 {
		font-size: 50px!important;
	}
	.jumbotron h3 {
		font-size: 30px!important;
	}
	.jumbotron p {
		font-size: 21px;
	}
	.container {
		width: 100%;
	}
	.jumbotron {
		width: 750px;
		min-height: 520px!important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 125px!important;
	}
	.margin {
		margin: 0 40px;
	}
	#info {
		margin-top: 240px!important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.jumbotron h1 {
		font-size: 120px!important;
	}
	.jumbotron h2 {
		font-size: 65px!important;
	}
	.jumbotron h3 {
		font-size: 30px!important;
	}
	.jumbotron p {
		font-size: 21px;
	}
	.container {
		width: 100%;
	}
	.jumbotron {
		width: 960px;
		min-height: 670px!important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px!important;
	}
	.margin {
		margin: 0 40px;
	}
	#info {
		margin-top: 240px!important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.jumbotron h1 {
		font-size: 145px!important;
	}
	.jumbotron h2 {
		font-size: 85px!important;
	}
	.jumbotron h3 {
		font-size: 30px!important;
	}
	.jumbotron p {
		font-size: 21px;
	}
	.container {
		width: 1170px;
	}
	.jumbotron {
		width: 100%;
		min-height: 830px!important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 85px!important;
	}
	.margin {
		margin: 0 40px;
	}
	#info {
		margin-top: 240px!important;
	}
	nav .container {
		width: 1100px!important;
	}
}

.name {
	position: relative;
}

.name:after {
	clear: both;
}

#info {
	text-align: justify;
	margin-top: 190px;
}

.depth::before, .depth::after {
	content: attr(title);
	position: absolute;
}

.depth::before {
	top: 1px;
	left: 1px;
	color: rgba(255,255,255,.1);
}

.depth::after {
	top: 2px;
	left: 2px;
	color: rgba(255,255,255,.1);
}

/*content*/
#content {
	padding: 15px 0 30px 0;
	background-color: #102A3B;
	text-align: justify;
	border-top: 10px solid rgb(11, 83, 125);
	border-bottom: 10px solid rgb(11, 83, 125);
}

.margin {
	margin: 0 25px;
}

.border-image {
	border: 4px solid rgb(14, 63, 92);
}

img#konsola {
	margin: 20px auto;
}

img#sklep {
	margin: 0 auto 20px auto;
}

/*footer*/
footer {
	margin-top: 150px;
	background-color: #102A3B;
	border-top: 5px solid rgb(11, 83, 125);
}

#contact-details {
	font-size: 16px;
}

#map {
	width: 100%;
	height: 300px;
	margin-bottom: 25px;
}

.angular-google-map-container {
	height: 300px;
}

.input-group {
	width: 100%;
	margin-top: 10px;
}

.form-control {
	background-color: #101F2B;
	border: 1px solid #102A3B;
}

.form-control-no-border:focus {
  border-color:#102A3B;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
	background-color: #101F2B!important;
	border: 1px solid #101F2B!important;
	float: right;
	padding: 4px 20px;
	margin-top: 7px;
	outline:none!important;
	color: inherit;
}

.btn-default:hover {
	color: #ec8016;
}

.btn-default:focus {
	color: inherit;
}

#contact-form {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}

#contact-message {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
	padding-left: 0px;
}

.col-xs-0 {
	width: 0!important;
	float: right;
}

.error-container {
	background-color: #EC8016;
	padding: 8px 12px;
	color: #102A3B;
}

.triangle {
	border-style: solid;
	border-color: #EC8016 transparent transparent transparent;
	border-width: 8px 8px 0 0;
	width: 0;
	height: 0;
}

/*images*/
.thumbnail {
	background: transparent;
	border: none;
	display: inline-table;
	padding: 3px;
	width: 193px;
}

.thumbnail img {
	height: 140px;
	cursor: pointer;
}

.full-width-image {
	margin: 30px 0;
	background-color: #101F2B;
	position: relative;
}

.full-width-image img {
	max-height: 400px;
	display: block;
}

.full-width-thumbnails {
	background-color: #101F2B;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: -3px;
  position: relative;
}

.slider-animation {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
  opacity:1;
  position: absolute;
  width: 100%;
}

.slider-animation.ng-hide {
  opacity:0;	
}

.slider-image {
	position: relative;
	margin: 0 auto;
}

.slider-div {
	margin-bottom: 160px;
	height: 400px;
}

.slider-container {
	height: 143px;
	overflow: hidden;
	position: relative;
	margin-top: -183px;
	margin-bottom: 30px;
}

.thumbnails-container {
	background-color: #101F2B;
}

/* images navigation */
.navigate {
	position: absolute;
	width: 50%;
	height: 100%;
	cursor: pointer;
	font-size: 25px;
	padding: 0 20px;
	opacity: 0;
}

.navigate:hover {
	opacity: 1;
}

.navigate-left {

}

.navigate-right {
	left: 50%;
	text-align: right;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
	display: block;
	height: 100%;
}

.full-width-image .glyphicon-chevron-left:before, .full-width-image .glyphicon-chevron-right:before {
	padding-top: 175px;
}

.slider-container .glyphicon-chevron-left:before, .slider-container .glyphicon-chevron-right:before {
	width: 25px;
	background-color: rgba(16, 31, 43, 0.79);
	text-align: center;
	padding-top: 65px;
}

.slider-container .glyphicon-chevron-right:before {
	float: right;
}

.slider-container:hover .thumbnails-navigate {
	opacity: 1;
}

/*thumbnails navigation */
.thumbnails-navigate {
	position: absolute;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.thumbnails-navigate-right {
	left: 100%;
	margin-left: -25px;
}