<div class="margin">
	<h1>CB-Radio</h1>
	<p>Morbi venenatis dui leo, sit amet rutrum purus feugiat vel. Vivamus vestibulum, est sit amet consequat euismod, ante est congue nisl, ut tempor libero ligula eu odio. Nam placerat tortor eu purus ultrices, a tempor neque tristique. Fusce porta, turpis eu consequat placerat, leo mauris aliquet urna, et auctor nunc ligula et elit. Proin commodo ex ut leo interdum convallis. Duis vehicula ultrices placerat. Sed lectus augue, ultrices posuere semper eget, faucibus sodales leo.</p>
</div>
<image-slider json="app/json/cbradioImgs.json"></image-slider>
<div class="margin">
	<p>Morbi non metus id leo efficitur tincidunt. Nullam in eros laoreet, luctus metus eget, porttitor massa. Fusce condimentum sapien sit amet mauris vulputate tincidunt.</p>
</div>