<div class="margin">
	<h1>CB-Radio</h1>
  <p>Prowadzimy sprzedaż i montaż sprzętu wszystkich dostępnych na rynku producentów CB-radio. Mamy w ofercie wszelkie akcesoria potrzebne do montażu i strojenia anten. Świadczymy usługi serwisowe - naprawy sprzętu.

  <p>Przykłady montażu sprzętu CB-radio w naszej firmie:</p>
</div>
<image-slider json="app/json/cbradioImgs.json"></image-slider>
<div class="margin">
  <h1>Anteny</h1>
	<p>Przykłady montażu anten:</p>
</div>
<image-slider json="app/json/antenyImgs.json"></image-slider>
