<div id="map" ng-controller="googleMapController">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-marker idKey="'location'" coords='marker.coords'></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
<div class="container">
  <div id="contact-details" class="row text-center">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-2 col-sm-3">
      <h1>Adres</h1>
      <p>Autoradio Poznań<br>ul. Warszawska 33b<br>61-113 Poznań</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h1>Godziny</h1>
      <p>poniedziałek - piątek: 10-18<br>sobota: 10-14<br>Parking przy sklepie</p>
    </div>
    <div class="col-md-2 col-sm-3">
      <h1>Kontakt</h1>
      <p>+48 61 879 28 68<br>
      <a href="mailto:info@autoradio.poznan.pl?Subject=Ze strony autoradio.poznan.pl">info@autoradio.poznan.pl</a></p>
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
  <div class="input-group" ng-controller="contactController as contactCtrl">
    <h1>{{ contactCtrl.formTitle }}</h1>
    <div class="row">
      <div ng-class="(contactForm.$valid || !contactCtrl.submitted) ? ' col-xs-12' : 'col-md-10 col-sm-9 col-xs-7'" id="contact-form">
        <form name="contactForm" novalidate class="simple-form">
          <input type="email"
                name="email"
                data-ng-model="contactCtrl.formData.email"
                class="form-control form-control-no-border"
                placeholder="Twój adres email"
                required />
          <textarea name="message"
                data-ng-model="contactCtrl.formData.message"
                class="form-control form-control-no-border"
                placeholder="Twoja wiadomość"
                rows="5"
                required>
          </textarea>
          <input type="submit" class="btn btn-default" ng-click="contactCtrl.sendMessage()" value="Wyślij">
        </form>
      </div>
      <div ng-class="(contactForm.$valid || !contactCtrl.submitted) ? 'col-xs-0' : 'col-md-2 col-sm-3 col-xs-5'" id="contact-message" ng-show="contactCtrl.showError && contactForm.$invalid">
        <div class="error-container">
          <span class="error" ng-show="contactForm.email.$error.required && !contactForm.message.$error.required">Adres email jest wymagany!</span>
          <span class="error" ng-show="contactForm.email.$error.email">Niepoprawny adres email!</br></span>
          <span class="error" ng-show="contactForm.message.$error.required && !contactForm.email.$error.required">Treść wiadomości jest wymagana!</span>
          <span class="error" ng-show="contactForm.message.$error.required && contactForm.email.$error.required">Adres email i treść wiadomości są wymagane!</span>
        </div>
        <div class="triangle" ng-show="contactCtrl.showError"></div>
      </div>
    </div>
  </div>
</div>
