<div class="full-width-image no-margin slider-div">
	<div ng-show="sliderCtrl.isSet($index)" ng-repeat="image in sliderCtrl.images" class="center-block  slider-animation">
		<img ng-src="http://autoradio.poznan.pl/cbradio/anteny/{{ image.filename }}" class="img-responsive slider-image">
		<span class="navigate navigate-left glyphicon glyphicon-chevron-left" ng-click="sliderCtrl.decreaseIndex()"></span>
		<span class="navigate navigate-right glyphicon glyphicon-chevron-right" ng-click="sliderCtrl.increaseIndex()"></div>
	</div>
</div>
<div class="slider-container">
	<div class="thumbnails-container">
		<div class="full-width-thumbnails" id="thumbnails-row">
			<div ng-repeat="image in sliderCtrl.images" class="thumbnail">
				<img ng-click="sliderCtrl.setImage($index)" ng-src="http://autoradio.poznan.pl/cbradio/anteny/{{image.filename}}"/>
			</div>
		</div>
		<span class="glyphicon glyphicon-chevron-left thumbnails-navigate thumbnails-navigate-left"></span>
		<span class="glyphicon glyphicon-chevron-right thumbnails-navigate thumbnails-navigate-right"></span>
	</div>
</div>
