<div class="margin">
	<h1>Multimedia</h1>
	<p>Maecenas feugiat ut eros ac fermentum. Nam volutpat convallis venenatis. Etiam ac dictum ipsum. In libero turpis, consequat id porta sed, posuere nec quam. Morbi venenatis dui leo, sit amet rutrum purus feugiat vel. Vivamus vestibulum, est sit amet consequat euismod, ante est congue nisl, ut tempor libero ligula eu odio. Nam placerat tortor eu purus ultrices, a tempor neque tristique. Fusce porta, turpis eu consequat placerat, leo mauris aliquet urna, et auctor nunc ligula et elit. Proin commodo ex ut leo interdum convallis. Duis vehicula ultrices placerat. Sed lectus augue, ultrices posuere semper eget, faucibus sodales leo.</p>
</div>
<single-image img="http://autoradio.poznan.pl/assets/images/multimedia/multimedia01.jpg"></single-image>
<div class="margin">
	<h1>Kamery cofania</h1>
	<p>Donec hendrerit ac turpis vel molestie. Vestibulum ut est sed ligula interdum ornare non eu metus. Suspendisse at odio lacinia, hendrerit dui et, efficitur elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>
<image-slider json="app/json/kameryImgs.json"></image-slider>