<div class="margin">
	<h1>Montaż</h1>
	<p>Maecenas ornare nisi sed odio ultrices, at auctor turpis suscipit. Maecenas ultrices enim tellus, a facilisis ex gravida eu. Nulla gravida imperdiet dapibus. Mauris ultrices, purus quis molestie sagittis, nibh nibh bibendum lorem, in vulputate magna orci sed mauris. Nunc posuere faucibus nisl, ac vulputate ante lobortis sed. Aliquam vitae nisi sit amet nisl lacinia rutrum eu vitae lorem. Nunc nulla urna, pulvinar in placerat eget, placerat eu justo.</p>
</div>
<single-image img="../assets/images/montaz/montaz01.jpg"></single-image>
<div class="margin">
	<p>Quisque non consectetur nunc, ut varius massa. Integer eget libero lacus. Duis luctus quam et aliquam mollis. Mauris mollis orci vel augue ultricies, a vehicula ante semper. Aliquam lobortis, turpis eu dignissim euismod, velit nulla viverra massa, nec aliquam neque justo quis sapien. </p>
</div>
<image-slider json="../assets/images/montaz/montaz.json"></image-slider>
