<div class="margin">
  <h1>Multimedia</h1>
  <p>Sprzedajemy i montujemy ekrany, telewizory cyfrowe (z MPEG-4), odtwarzacze DVD oraz pilków video (również HD). Przeznaczone są one zarówno do samochodów osobowych jak i do autokarów czy samochodów turystycznych.</p>
</div>
<image-slider json="app/json/multimediaImgs.json"></image-slider>
<div class="margin">
  <h1>Zestawy głośnomówiące</h1>
  <p>Zestaw głośnomówiący jest ważnym elementem wyposażenia samochodu - umożliwia komfortowe prowadzenie rozmowy przez telefon, nie stwarzając zagrożenia dla prowadzenia pojazdu. Sprzedajemy i montujemy różne rodzaje zestawów, ale głównie bazujemy na sprawdzonych systemach firmy Parrot.</p>
</div>
<div class="margin">
  <h1>Odtwarzacze USB</h1>
  <p>Jeśli fabryczne radio nie odtwarza plików mp3 możemy podłączyć czytnik kart SD, USB czy iPod, co umożliwi szybki dostęp do wielu utworów obsługując odtwarzacz z radia lub kierownicy multifunkcyjnej. Standardowy montaż jest bezpłatny.</p>
</div>
